<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Mart</title>
<style type="text/css"></style>>
</head>
<body>
<h1 align="Centre" style="border-bottom-color: black; color: blue"  >Welcome to My Mart</h1>
<br>
<h3 id = heading3 style="size: 10px; color:magenta" >One-Stop Destination for sea food Delivered Right to Your Door! </h3>
<p> At My Mart, we believe in making meal time easy, delicious, and hassle-free. Whether you’re craving a quick bite, a hearty family dinner, or a sweet treat, we’ve got you covered with a wide selection of freshly prepared dishes, made with the finest ingredients. Our easy-to-use platform lets you browse through our menu, place your order, and have it delivered straight to your home or office in no time.

Explore our variety of options from local favorites to global cuisines, all prepared with love and care by expert chefs. With quick delivery, excellent customer service, and a focus on quality, [Your Website Name] is here to satisfy your hunger and bring a smile to your face!

Ready to satisfy your cravings? Browse our menu today and discover your next favorite meal! </p>




</body>
</html>